<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Broadcaster</title>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.6.1/dist/web3.min.js"></script>
  </head>
  <body>
    <h1>Broadcaster</h1>
    <input type="text" id="title" placeholder="Enter stream title" />
    <input type="text" id="host" placeholder="Enter host name" />
    <button id="createStream">Create Live Input</button>
    <div>
      <br />
      <input type="text" id="roomIdUpdate" placeholder="Enter Room ID" />
      <input type="text" id="updateTitleInput" placeholder=" Update title" />
      <button id="updateStream">Update</button>
    </div>
    <br />
    <div>
      <input type="text" id="roomIdInput" placeholder="Enter Room ID" />
      <button id="endStream">End Stream</button>
    </div>
    <div id="streamInfo">
      <p id="roomId"></p>
      <p id="ingestInfo"></p>
      <p id="streamKey"></p>
      <p id="titleStream"></p>
    </div>

    <script type="module">
      import { init, contract } from "./assets/connection.js"; // Chỉ cần import một lần

      let localStream;
      let peerConnection;
      let publishedTracks = new Set();
      async function start() {
        await init(); // Gọi hàm init() để kết nối ví và khởi tạo hợp đồng
      }

      window.addEventListener("load", start);
      function generateRoomId() {
        const timestamp = Date.now(); // Lấy thời gian hiện tại (milisecond)
        const randomNum = Math.floor(Math.random() * 1000); // Số ngẫu nhiên
        return `${timestamp}${randomNum}`;
      }

      document
        .getElementById("endStream")
        .addEventListener("click", async () => {
          const roomId = document.getElementById("roomIdInput").value; // Nhập roomId từ input

          if (!roomId) {
            alert("Please enter a Room ID to end the stream");
            return;
          }

          try {
            // Gọi hàm endLivestream từ hợp đồng thông minh
            await contract.methods
              .endLivestream(roomId)
              .send({ from: web3.currentProvider.selectedAddress });

            alert("Livestream has been ended successfully.");
            console.log(`Livestream with Room ID: ${roomId} has been ended.`);
          } catch (error) {
            console.error("Error ending livestream:", error);
            alert("Error ending livestream. Check console for details.");
          }
        });
        //upload stream
      document
        .getElementById("updateStream")
        .addEventListener("click", async () => {
          const roomId = document.getElementById("roomIdUpdate").value;
          const newTitle = document.getElementById("updateTitleInput").value;

          if (!roomId || !newTitle) {
            alert("Please fill in both Room ID and the new title.");
            return;
          }

          try {
            await contract.methods
              .updateTitle(roomId, newTitle)
              .send({ from: web3.currentProvider.selectedAddress });

            document.getElementById("titleStream").textContent =
              "Title: " + newTitle;
            alert("Title updated successfully");
          } catch (error) {
            console.error("Error updating title:", error);
            alert("Failed to update title");
          }
        });
      // Xử lý sự kiện click vào nút
      document
        .getElementById("createStream")
        .addEventListener("click", async () => {
          const title = document.getElementById("title").value;
          const host = document.getElementById("host").value;
          const roomId = generateRoomId();
          console.log("roomId:", roomId);

          if (!contract) {
            alert("Contract chưa được khởi tạo!");
            return;
          }

          if (!web3.currentProvider.selectedAddress) {
            alert("Vui lòng kết nối ví MetaMask!");
            return;
          }

          try {
            const response = await fetch("/api/livestream/create", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ title, host }),
            });

            if (!response.ok) {
              throw new Error(
                `Error from backend: ${response.status} ${response.statusText}`
              );
            }

            const data = await response.json();
                const sessionId = data.sessionId;
                const ingestUrl = data.WebRTC;
                const streamKey = data.WebRTCPlayback;
                console.log("sessionId:", sessionId);
            
            navigator.mediaDevices
              .getUserMedia({ video: true, audio: true })
              .then(async (stream) => {
                localStream = stream;
                console.log(
                  "Luồng cục bộ đã được lấy thành công:",
                  localStream
                );
                peerConnection = new RTCPeerConnection();
                await publishStream();
              })
              .catch((error) => {
                console.error("Lỗi khi lấy luồng cục bộ:", error);
                alert(
                  "Không thể lấy luồng video/audio. Vui lòng kiểm tra quyền truy cập và thử lại."
                );
              });

            async function publishStream() {
              if (!localStream || !peerConnection) return;

              const transceivers = [];
              for (const track of localStream.getTracks()) {
                if (publishedTracks.has(track.id)) continue;
                if (track.readyState !== "live") continue;

                const tx = peerConnection.addTransceiver(track, {
                  direction: "sendonly",
                });
                transceivers.push(tx);
                publishedTracks.add(track.id);
              }

              if (transceivers.length === 0) return;

              const offer = await peerConnection.createOffer();
              await peerConnection.setLocalDescription(offer);

              const trackInfos = transceivers.map(({ sender, mid }) => ({
                location: "local",
                mid,
                trackName: sender.track.id,
              }));
              const body = {
                offer: { sdp: offer.sdp, type: offer.type },
                tracks: trackInfos,
                metadata: {},
              };

              try {
                const publishResponse = await fetch(
                  "/api/livestream/uploadStream",
                  {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(body),
                  }
                );
               console.log("publishResponse--------:", publishResponse.headers);
               console.log("body--------:",publishResponse.body);
                if (!publishResponse.ok) {
                  throw new Error(
                    `Publish error: Failed to upload stream: ${publishResponse.status} ${publishResponse.statusText}`
                  );
                }

                const resp = await publishResponse.json();

                if (resp.errorCode) {
                  console.error("Publish error:", resp.errorDescription);
                  alert(`Publish error: ${resp.errorDescription}`);
                  return;
                }

                const answer = resp.sessionDescription;
                console.log("SFU Answer:", answer.sdp);
                await peerConnection.setRemoteDescription(answer);
                console.log("Publish => success. Applied SFU answer.");

                const tx = await contract.methods
                  .createLivestream(
                    roomId,
                    sessionId,
                    ingestUrl,
                    streamKey,
                    host,
                    title
                  )
                  .send({ from: web3.currentProvider.selectedAddress });
                console.log("Transaction successful:", tx);

                document.getElementById("roomId").textContent =
                  "Room id: " + roomId;
                document.getElementById("ingestInfo").textContent =
                  "Ingest URL: " + ingestUrl;
                document.getElementById("streamKey").textContent =
                  "Stream Key: " + streamKey;
                document.getElementById("titleStream").textContent =
                  "Title: " + title;
              } catch (publishError) {
                console.error("Error publishing stream:", publishError);
                alert("Error publishing stream. Check console for details.");
              }
            }
          } catch (error) {
            console.error(error);
            alert("Error creating live input or interacting with blockchain");
          }
        });
    </script>
  </body>
</html>
